:root {
  --background: #121214;
  --surface: #202024;
  --primary: #11caa0;
  --text-main: #e1e1e6;
  --text-muted: #a8a8b3;
  --radius: 8px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--background);
}

body {
  color: var(--text-main);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Garante que os modais nativos fiquem invisíveis até serem chamados */
dialog:not([open]) {
  display: none;
}
